<h1>Weather History</h1>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-2 mt-1">
            <mat-form-field (input)="getData($event,'lattitude')">
                <mat-label>Lattitude</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <div class="col-md-2 mt-1">
                <mat-form-field (input)="getData($event,'longitude')">
                  <mat-label>Longitude</mat-label>
                  <input matInput>
                </mat-form-field>
            </div>
            <div class="col-md-2 mt-1">
                    <mat-form-field>
                        <mat-label>Select graph type</mat-label>
                        <mat-select [(value)]="graph">
                        <mat-option value="line">Line</mat-option>
                        <mat-option value="bar">Bar</mat-option>
                        <!-- <mat-option value="bubble">Bubble</mat-option> -->
                        <mat-option value="radar">Radar</mat-option>
                        <!-- <mat-option value="scatter">Scatter</mat-option> -->
                        <mat-option value="doughnut">Doughnut</mat-option>
                        <mat-option value="pie">Pie</mat-option>
                        </mat-select>
                    </mat-form-field>
            </div>
            <!-- <input type="text" class="form-control p-3" placeholder="Lattitude" (input)="getData($event,'lattitude')">
            <input type="text" class="form-control p-3 mt-1" placeholder="Longitude"
                (input)="getData($event,'longitude')"> -->
        <div class="col-md-6">
            <mat-form-field class="m-1">
                <mat-label>From</mat-label>
                <input matInput [matDatepicker]="picker" (dateInput)="changeDateFormat($event,'fromDate')">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="m-1">
                <mat-label>To</mat-label>
                <input matInput [matDatepicker]="picker02" (dateInput)="changeDateFormat($event,'toDate')">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker02"></mat-datepicker-toggle>
                <mat-datepicker #picker02></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="chartClick()" class="mb-3">Generate</button>
            <!-- <button type="button" class="btn btn-success p-3 mb-3" (click)="chartClick()">Chart</button> -->
        </div>
    </div>

    <div>
        <canvas #weatherChartCanvas id="weather-chart"></canvas>
    </div>
</div>